html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.parallax-section {
    position: relative;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.bg1 { background-image: url('https://i.pinimg.com/736x/f5/22/88/f5228807af8f315ac0d88ec2f7d6e8cc.jpg'); }
.bg2 { background-image: url('https://i.pinimg.com/736x/d4/ee/f5/d4eef5ce09d8ac40b0d4599ab3f586dc.jpg'); }

.content-section {
    height: 400px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-section .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
}

.content-section .caption {
    color: white;
    font-size: 24px;
}