body {
    background-color: #f0f2f5;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    
    /* หัวใจสำคัญของการจัดกลาง */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.card {
    background-color: white;
    width: 320px; 
    box-shadow: 0 4px 20px rgba(0,0,0,0.15); 
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
}

.profile-pic {
    width: 100%;
    height: auto;
    display: block;
}

/* Invisible Table */
.info-table {
    width: 100%;
    border-collapse: collapse;
    border: none; 
    margin: 20px 0;
}

.info-table td {
    border: none;
    padding: 5px 15px;
    text-align: center;
}

.login {
    margin: 0 0 5px 0;
    font-size: 28px;
    font-weight: 800;
    color: #1c1e21;
}

.description, .location {
    color: #8d949e;
    margin: 2px 0;
    font-size: 16px;
}

.social-icons {
    padding-top: 15px !important;
    padding-bottom: 20px !important;
}

.social-icons img {
    width: 20px;
    margin: 0 5px;
    
    filter: grayscale(100%); 
    opacity: 0.6;
    transition: 0.3s;
}

.social-icons img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/* ปุ่ม Contact */
.contact-btn {
    background-color: black;
    color: white;
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #333;
}