html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    text-align: center;
    font-size: 5vw;
    width: 50%;
}

.first-cell { background-color: #c5d195; }
.second-cell { background-color: #f4c2b2; }

@media screen and (max-width: 600px) {
    table, tr, td {
        display: block;
        width: 100% !important;
    }
    
    td {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}